/* import font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
/* Remove margin and padding from default element styling per instructions */
* {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  color: #393939;
}

b {
  font-weight: bold;
}

article {
  text-align: left;
}

p {
  font-size: 1.125rem;
}

footer,
nav,
header {
  background: #fff0ed;
}

header h2 {
  text-align: left;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1,
h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.063rem;
}

li {
  list-style-type: none;
}

nav {
  font-size: 1.313rem;
}

.top-nav-bar {
  line-height: normal;
  padding: 1.25rem;
  display: flex;
  align-items: flex-end;
  /* group logo, name and each link in one bar */
  /* separate shop name and each link with 20px equivalent per style guide */
  /* align links with site title */
}
.top-nav-bar__logo {
  width: 3.125rem;
}
.top-nav-bar__logo-title, .top-nav-bar__title, .top-nav-bar__logo, .top-nav-bar__links, .top-nav-bar__link {
  display: inline-block;
  vertical-align: bottom;
}
.top-nav-bar__logo-title, .top-nav-bar__link {
  margin-right: 1.25rem;
}
.top-nav-bar__links {
  /* padding-bottom: 0.25rem; */
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: 2rem;
}
.top-nav-bar__link {
  text-decoration: none;
}
.top-nav-bar__link--default {
  color: #5bacc3;
}

.shop-cta {
  /* Shop Now call to action header */
}
.shop-cta__text, .shop-cta__logo {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: normal;
  width: 45%;
}
.shop-cta__text {
  /* padding: 0 3.125rem 6.25rem 3.125rem; */
  padding-left: 6.25rem;
}
.shop-cta__desc {
  padding: 1rem 0;
  width: 50%;
}
.shop-cta__logo {
  padding: 3.125rem;
  text-align: right;
  vertical-align: center;
}

.cta-button {
  background-color: #5bacc3;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 0;
  padding: 0.5rem 1rem;
}
.cta-button:hover {
  border: 2px solid black;
  transform: translate(-5px, -5px);
}
.cta-button:active {
  border: 2px solid black;
  transform: translate(0, 0);
}

.products-cards {
  text-align: center;
  background-color: #f7f7f7;
}
.products-cards__title {
  padding: 2rem 0;
}
.products-cards__carousel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.products-cards__article {
  background-color: #fff0ed;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.313rem 0.5rem -0.063rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 2.5rem; */
  width: 20rem;
}
.products-cards__img-card {
  background-color: #fff;
  padding: 1.25rem;
  text-align: center;
}
.products-cards__img {
  /* height: 25%; */
  height: 12rem;
}
.products-cards__name-desc {
  padding-right: 1.25rem;
}
.products-cards__name-desc-price {
  display: flex;
  padding: 1.25rem;
  align-items: center;
}
.products-cards__desc {
  font-weight: 300;
}
.products-cards__price {
  /* padding-top: 2rem; */
  color: #5bacc3;
  font-weight: bold;
  font-size: 33px;
  margin-left: auto; /* right align price */
  vertical-align: middle;
}
.products-cards__viewall {
  display: block;
  padding: 2rem 0;
  text-align: center;
}

.our-story {
  display: flex;
  gap: 26.25rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5rem 0;
}
.our-story__story-text {
  width: 25%;
}
.our-story__title {
  margin-bottom: 1.25rem;
}
.our-story__icons {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}
.our-story__icon {
  width: 3.125rem;
}
.our-story__learn-more {
  display: block;
  padding: 1.25rem 0;
}
.our-story__logo {
  width: 25rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.our-story__logo::before {
  content: "";
  position: absolute;
  background: no-repeat url("../assets/tiltedcan.png");
  background-size: 40%, cover;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0%;
}
.our-story__logo::after {
  content: "";
  position: absolute;
  background: no-repeat url("../assets/coldbrewbackground.png");
  background-size: 100%, cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0%;
}
.our-story__logo:hover:before {
  animation: rotate-animation 2s infinite linear;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.discount-banner {
  background-color: #393939;
  color: white;
  text-align: center;
  font-size: 2.813rem;
  min-width: 15rem;
  padding: 2.5rem;
  margin: 7.5rem 10rem;
  /* bold discount code */
}
.discount-banner__code {
  font-weight: 700;
  color: #fff;
}

.footer {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.footer__heading {
  margin-bottom: 1.25rem;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
.footer__social-icon {
  width: 3.125rem;
}/*# sourceMappingURL=landing.css.map */