/* import font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
$font-primary: "Open Sans";

// Colours following Mike Street and Marcus Ortense naming conventions
// per https://css-tricks.com/what-do-you-name-color-variables/
$color-primary: #393939;
$color-secondary: #5bacc3;
$color-neutral-lightest: #fff;
$color-neutral-lighter: #f7f7f7;
$color-neutral-light: #fff0ed;
